/*******************************************************************************
	Title: FB ParkRun
	Author: Marcin Bobowski
	Date: 2013.05.27
********************************************************************************

	1. BASE
		1.1 Reset
		1.2 Default Styles

	2. COMMON
		2.1 Header
		2.2 Content
		2.3 Footer
		2.4 Posts
		2.5 Pages

	3. PAGES
		3.1 Contact

/* 1. BASE
--------------------------------------------------------------------------------
==============================================================================*/

/* 1.1 Reset
------------------------------------------------------------------------------*/

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height:1; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
a {margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent;}
/* change colours to suit your needs */
ins {background-color:#ff9; color:#000; text-decoration:none;}
/* change colours to suit your needs */
mark {background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help;}
table {border-collapse:collapse; border-spacing:0;}
/* change border colour to suit your needs */
hr {display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0;}
input, select {vertical-align:middle;}

/* 1.2 Default Styles
------------------------------------------------------------------------------*/
* {margin:0; padding:0; border:none;}
body {color: #999999; font-size: 14px; font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}
#wrap {width: 810px; margin: 0 auto;}
br.clr {clear:both; height:0; font-size: 1px; line-height: 0px;}

/* 2. COMMON
--------------------------------------------------------------------------------
==============================================================================*/

/* 2.1 Header
------------------------------------------------------------------------------*/
#header {height: 593px; background: transparent url(img/body/headerbg.jpg) 0 0 no-repeat; position: relative;}
#hp #header {height: 781px;}
#hp #header p {display: block; position: absolute; top: 500px; right: 64px; width: 560px; height: 120px; background: transparent url(img/hp/headp1.png) 0 0 no-repeat; text-indent: -9999px;}
#hp #header a.start {display: block; position: absolute; top: 706px; right: 64px; width: 195px; height: 36px; background: transparent url(img/hp/headstart.png) 0 0 no-repeat; text-indent: -9999px;}
#hp #header a.start:hover {top: 708px;}
#headernav {position: absolute; bottom: 0px; width: 100%; height: 109px; background: transparent url(img/body/menubgpattern.png) 0 0 repeat-x;}
#headernav ul {list-style-type: none; background: transparent url(img/body/menuulbg.png) 50% 0 no-repeat; margin: 8px 0 0; overflow: hidden; padding: 15px 0 0 0; height: 45px;}
#headernav li {float: left;}
#headernav a {display: block; height: 29px; text-indent: -9999px; background: transparent url(img/body/menuitemsbg.png) 0 2px no-repeat;}
#headernav .nav01 a {width: 165px; margin: 0 0 0 17px; background: transparent url(img/body/menuitemsbg.png) 0 2px no-repeat;}
#headernav .nav01 a:hover,
#headernav .nav01.current-nav a {background: transparent url(img/body/menuitemsbg.png) 0 -29px no-repeat;}
#headernav .nav02 a {width: 96px; margin: 0 0 0 56px; background: transparent url(img/body/menuitemsbg.png) -221px 2px no-repeat;}
#headernav .nav02 a:hover,
#headernav .nav02.current-nav a {background: transparent url(img/body/menuitemsbg.png) -221px -29px no-repeat;}
#headernav .nav03 a {width: 96px; margin: 0 0 0 56px; background: transparent url(img/body/menuitemsbg.png) -373px 2px no-repeat;}
#headernav .nav03 a:hover,
#headernav .nav03.current-nav a {background: transparent url(img/body/menuitemsbg.png) -373px -29px no-repeat;}
#headernav .nav04 a {width: 83px; margin: 0 0 0 54px; background: transparent url(img/body/menuitemsbg.png) -523px 2px no-repeat;}
#headernav .nav04 a:hover,
#headernav .nav04.current-nav a {background: transparent url(img/body/menuitemsbg.png) -523px -29px no-repeat;}
#headernav .nav05 a {width: 117px; margin: 0 0 0 54px; background: transparent url(img/body/menuitemsbg.png) -660px 2px no-repeat;}
#headernav .nav05 a:hover,
#headernav .nav05.current-nav a {background: transparent url(img/body/menuitemsbg.png) -660px -29px no-repeat;}

/* 2.2 Content
------------------------------------------------------------------------------*/
#content {height: 565px; position: relative; padding: 0 14px;}
#hp #content {height: 375px;}

/* 2.3 Footer
------------------------------------------------------------------------------*/
#footer {height: 68px; background: transparent url(img/body/footerstrap.gif) 0 0 repeat-x; position: relative;}
#footer a {display: block; position: absolute; bottom: 22px; height: 18px; text-indent: -9999px;}
#footer a:hover {bottom: 20px;}
#footer #regulation {width: 76px; left: 14px; background: transparent url(img/body/regulation.png) 0 0 no-repeat;}
#footer #arp {width: 278px; right: 14px; background: transparent url(img/body/arplink.png) 0 0 no-repeat;}

/* 3. PAGES
--------------------------------------------------------------------------------
==============================================================================*/

/* 3.1 HP
------------------------------------------------------------------------------*/
#hp h2, #hp1 h2 {text-indent: -9999px; height: 71px; background: transparent url(img/hp/h2bg.png) 50% 0 no-repeat; margin: 49px 0 0;}
#hp1 h2 {margin: 85px 0 0;}
#hp p#first, #hp1 p#first {text-indent: -9999px; height: 78px; background: transparent url(img/hp/p1bg.png?m) 50% 0 no-repeat; margin: 37px 0 0;}
#hp1 p#first {margin: 100px 0 0;}
#hp p#second, #hp1 p#second {text-indent: -9999px; height: 50px; background: transparent url(img/hp/p2bg.png) 50% 0 no-repeat; margin: 46px 0 0; position: relative;}
#hp1 p#second {margin: 43px 0 0;}
#hp p a, #hp1 p a {display: block; position: absolute; top: 15px; right: 86px; width: 77px; height: 24px; background: transparent url(img/hp/p2linkbg.png) 0 0 no-repeat; outline: none;}
#hp p a:hover, #hp1 p a:hover {top: 17px;}
#hp1 p#getstarted {margin: 38px 0 0;}
#hp1 p#getstarted a {display: block; position: relative; top: 0px; left: 0px; margin: 0 auto; text-indent: -9999px; width: 350px; height: 50px; background: transparent url(img/hp/startbtn.png) 0 0 no-repeat;}
#hp1 p#getstarted a:hover {background: transparent url(img/hp/startbtn.png) 0 -50px no-repeat;}


/* 3.2 contest01
------------------------------------------------------------------------------*/
#cont01 h2, 
#cont02 h2,
#cont03 h2,
#cont04 h2 {text-indent: -9999px; height: 51px; background: transparent url(img/contest/h2bg.png) 50% 0 no-repeat; margin: 51px 0 0;}
#cont01 #fieldsholder,
#cont02 #fieldsholder,
#cont03 #fieldsholder,
#cont04 #fieldsholder,
#cont05 #fieldsholder {margin: 40px 0 0; height: 280px; background: transparent url(img/contest/stripesbg.png) 0 0 repeat; position: relative;}
#cont01 #fieldsholder label,
#cont02 #fieldsholder label {display: block; height: 30px; text-indent: -9999px; background: transparent url(img/contest/form1textsbg.png) 0 5px no-repeat;}
#fieldsholder input {display: block; width: 544px; height: 30px; padding: 0 12px; color: #fff; background: #000; font-size: 20px; font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}
.submitholder {margin: 20px 0 0; text-align: center;}
.submitholder input {display: inline-block; text-indent: -9999px; width: 146px; height: 50px; background: transparent url(img/contest/nextbtnbg.png) 0 0 no-repeat; cursor: pointer;}
.submitholder input:hover {background: transparent url(img/contest/nextbtnbg.png) 0 -50px no-repeat;}

/*cont01*/
#cont01 #fieldsholder #idbox input {width: 90px;}
#cont01 #fieldsholder #idbox {position: absolute; right: 120px; top: 18px;}
#cont01 #fieldsholder #idbox label {width: 128px; float: left;}
#cont01 #fieldsholder #idbox input {float: right;}
#cont01 #fieldsholder #namebox {position: absolute; right: 120px; top: 36px;}
#cont01 #fieldsholder #namebox label {background: transparent url(img/contest/form1textsbg.png)  0 -33px no-repeat;}
#cont01 #fieldsholder #surnamebox {position: absolute; right: 120px; top: 114px;}
#cont01 #fieldsholder #surnamebox label {background: transparent url(img/contest/form1textsbg.png) 0 -69px no-repeat;}
#cont01 #fieldsholder #emailbox {position: absolute; right: 120px; top: 191px;}
#cont01 #fieldsholder #emailbox label {background: transparent url(img/contest/form1textsbg.png) 0 -104px no-repeat;}
#cont01 #fieldsholder #acceptregulations {display: none;}
#cont01 #setacceptregulations {display: block; margin: 16px 12px 0; height: 42px; background: transparent url(img/contest/acceptregulations.png) 0 0 no-repeat; cursor: pointer; text-indent: -9999px;}
#cont01 #setacceptregulations.accepted {background: transparent url(img/contest/acceptregulations.png) 0 -42px no-repeat;}

/*cont02*/
#cont02 #fieldsholder h3 {position: absolute; height: 25px; top: 32px; background: transparent url(img/contest/form2h3bg.png) 50% 0 no-repeat; text-indent: -9999px; width: 100%;}
#cont02 #start1box,
#cont02 #start2box {position: absolute; left: 120px;}
#cont02 #start1date,
#cont02 #start2date {width: 116px; float: left; margin: 0 10px 0 0; text-align: center;}
#cont02 #start1place,
#cont02 #start2place {width: 395px; float: left; text-align: center;}

#cont02 #start1box {top: 90px;}
#cont02 #start1box label {background: transparent url(img/contest/form2textsbg.png)  0 3px no-repeat;}

#cont02 #start2box {top: 155px;}
#cont02 #start2box label {background: transparent url(img/contest/form2textsbg.png)  0 -46px no-repeat;}
#cont02 .parkid,
#cont05 .parkid,
#cont06 .parkid {margin: 10px 0 0; text-align: right; padding: 0 13px 0 0; /*background: transparent url(img/contest/form2textsbg.png) 570px -95px no-repeat; */}
#cont02 .parkid span,
#cont05 .parkid span,
#cont06 .parkid span {display: inline-block; height: 24px; padding: 2px 12px 2px; color: #fff; background: #000; font-size: 20px;float: right;}

#cont04 h3 {position: absolute; height: 25px; top: 120px; background: transparent url(img/contest/form4h3bg.png) 50% 0 no-repeat; text-indent: -9999px; width: 100%;}

#cont05 h2,
#cont06 h2 {text-indent: -9999px; height: 71px; background: transparent url(img/contest/form5h2bg.png) 50% 0 no-repeat; margin: 49px 0 0;}
#cont05 h3 {position: absolute; height: 83px; top: 100px; background: transparent url(img/contest/form5h3bg.png) 50% 0 no-repeat; text-indent: -9999px; width: 100%;}

#cont06 h3 {text-indent: -9999px; height: 24px; background: transparent url(img/contest/form6h3bg.png) 50% 0 no-repeat; margin: 23px 0 0;}
#cont06 textarea {width: 742px; height: 205px; background: transparent url(img/contest/form6textareabg.png) 0 0 no-repeat; margin: 30px 0 0; padding: 16px 20px 20px; font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; font-size: 20px; line-height: 32px; resize: none; }

/* 3.3 Prizes
------------------------------------------------------------------------------*/
#prizes h2 {text-indent: -9999px; height: 51px; background: transparent url(img/prizes/h2bg.png) 50% 0 no-repeat; margin: 51px 0 0;}
#prizes #fieldsholder {margin: 40px 0 0; height: 280px; background: transparent url(img/contest/stripesbg.png) 0 0 repeat; position: relative;}
#prizes h3 {position: absolute; height: 83px; top: 100px; background: transparent url(img/prizes/h3bg.png?7) 50% 0 no-repeat; text-indent: -9999px; width: 100%;}

/* 3.4 Rules
------------------------------------------------------------------------------*/
#rules h2 {text-indent: -9999px; height: 51px; background: transparent url(img/rules/h2bg.png) 50% 0 no-repeat; margin: 51px 0 0;}
#rules #fieldsholder {margin: 40px 0 0; height: 320px; background: transparent url(img/contest/stripesbg.png) 0 0 repeat; position: relative;}
#rules h3 {position: absolute; height: 300px; top: 20px; background: transparent url(img/rules/h3bg.png) 50% 0 no-repeat; text-indent: -9999px; width: 100%;}
#rules h3 a {display: block; width: 230px; height: 30px; position: absolute; top: 256px; left: 138px;}

/* 3.5 Winners
------------------------------------------------------------------------------*/
#winners h2 {text-indent: -9999px; height: 51px; background: transparent url(img/winners/h2bg.png) 50% 0 no-repeat; margin: 51px 0 0;}
#winners #fieldsholder {margin: 40px 0 0; background: transparent url(img/contest/stripesbg.png) 0 0 repeat; position: relative; padding: 23px 57px 20px; font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;}
#winners #fieldsholder .slideholder {width: 670px; height: 246px; overflow: hidden;}
#winners #fieldsholder .slideholder .slide {width: 670px; height: 246px;}
#winners #fieldsholder .slideholder .slide .inner {width: 670px; height: 246px; background: transparent url(img/winners/slidebg.png) 18px 42px no-repeat; position: relative;}
#winners h3.month {text-align: center; color: #000; font-size: 24px; position: absolute; top: 10px; width: 100%;}
#winners #fieldsholder p {font-size: 20px; color: #fff; position: absolute; left: 28px;}
#winners #fieldsholder span {color: #000; padding: 0 14px 0 0;}
#winners #fieldsholder p.w01 {top: 76px;}
#winners #fieldsholder p.w02 {top: 141px;}
#winners #fieldsholder p.w03 {top: 206px;}
#winners #fieldsholder .arrow {display: block; width: 45px; height: 45px; position: absolute; top: 150px; background: transparent url(img/winners/arrows.png) 14px 0 no-repeat;}
#winners #fieldsholder #prev2 {left: 10px;}
#winners #fieldsholder #next2 {right: 10px; background: transparent url(img/winners/arrows.png) -116px 0 no-repeat;}

#winners h3.thanks {text-indent: -9999px; height: 24px; background: transparent url(img/winners/h3bg.png) 50% 0 no-repeat; margin: 60px 0 0;}




a:focus, a, a:hover{
    outline: none;
}
.footer p{
    color: #444;
    
}



.parkrunlogo{
    width: 100%;
    height: 120px;
    background: transparent url('img/parkrun_logo.jpg?2') no-repeat center;
    margin-top: 23px;
}
.parkrunlogo a{
    display: block;
    text-decoration: none;
    outline: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.parkrunlogo a span{
    visibility: hidden;
}