<div class="footer">
    <p>Ta promocja nie jest sponsorowana, administrowana ani organizowana przez Facebook. Dołączając do konkursu przekazujesz swoje prywatne informacje organizatorowi. Informacje te zostaną wykorzystane tylko do celów konkursu.</p>
</div>