<div id="header">
	<div id="headernav">
		<ul>
			<li class="nav01 {if $nav=='main'}current-nav{/if}"><a href="/">strona główna</a></li>
			<li class="nav02 {if $nav=='konkurs'}current-nav{/if}"><a href="konkurs/">konkurs</a></li>
			<li class="nav03 {if $nav=='nagrody'}current-nav{/if}"><a href="mainpage/nagrody/">nagrody</a></li>
			<li class="nav04 {if $nav=='zasady'}current-nav{/if}"><a href="mainpage/zasady/">zasady</a></li>
			<li class="nav05 {if $nav=='zwyciezcy'}current-nav{/if}"><a href="mainpage/zwyciezcy/">zwycięzcy</a></li>
		</ul>
	</div>
</div>