<body id="cont04">
<div id="wrap">

{include file="i_header.tpl" nav='konkurs'}

<div id="content">
    
	<h2>rejestracja w konkursie</h2>
		<div id="fieldsholder" style="background-image: url('css/img/th1.jpg');">
			<h3 style='background-image: none;'>Dziękujemy, twoje zgłoszenie zostało przyjęte.</h3>
		</div>
                
</div>

<div id="footer">
	<a href="regulamin_parkrun.pdf" id="regulation">regulamin</a>
	<a href="http://www.facebook.com/adidasRunningPL" target="_blank" id="arp">www.facebook.com/adidasRunningPL</a>
</div>

</div>
{include file="i_footer.tpl"}
</body>