{*}<body id="cont05">
<div id="wrap">

{include file="i_header.tpl" nav='konkurs'}

<div id="content">
	<h2>pytanie konkursowe</h2>
	<div id="fieldsholder">
		<h3>Dziękujemy, twoje zgłoszenie zostało przyjęte.</h3>
	</div>
	<p class="parkid"><span>{$user.idparkrun|stripslashes|escape}</span></p>
</div>

<div id="footer">
	<a href="#" id="regulation">regulamin</a>
	<a href="http://www.facebook.com/adidasRunningPL" target="_blank" id="arp">www.facebook.com/adidasRunningPL</a>
</div>

</div>
{include file="i_footer.tpl"}
</body>{*}
<body id="typage">
<div id="wrap">

{include file="i_header.tpl" nav='konkurs'}

<div id="content">
	<h2>dzięki za zgłoszenie</h2>
	<div id="fieldsholder" style="background: transparent url('css/img/lastth1.jpg') no-repeat 0 0;">
		
	</div>
	<p class="inviteholder"><a id="invitefriends">wyślij zaproszenie znajomym</a></p>
</div>

<div id="footer">
	<a href="regulamin_parkrun.pdf" id="regulation">regulamin</a>
	<a href="http://www.facebook.com/adidasRunningPL" target="blank" id="arp">www.facebook.com/adidasRunningPL</a>
</div>

</div>
{include file="i_footer.tpl"}
</body>