<body id="prizes">
<div id="wrap">

{include file="i_header.tpl" nav='nagrody'}

<div id="content">
	<h2>Nagrody</h2>
	<div id="fieldsholder">
		<h3>Czerwiec: buty adidas Supernova Glide 5</h3>
	</div>
</div>

<div id="footer">
	<a href="regulamin_parkrun.pdf" id="regulation">regulamin</a>
	<a href="http://www.facebook.com/adidasRunningPL" target="_blank" id="arp">www.facebook.com/adidasRunningPL</a>
</div>

</div>
{include file="i_footer.tpl"}
</body>